<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<title>Chat</title>
</head>
<body>
	<form th:action="@{/chat}" method="post" th:object="${message}">
		name:<br>
		<input type="text" name="name" th:value="${message.name}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		<br>
		message:<br>
		<textarea name="message" rows="4" cols="40" th:text="${message.message}"></textarea>
		<span class="text-danger" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>
		<br>
		<input type="submit" name="submit" value="submit" />
	</form>
</body>
</html>